<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/confetti_cuisine.css">
</head>

<header>

    <h1>Confetti Cuisine</h1>

    <div id="buttons">
    <a href="index.html"><button>Home</button></a>
    <a href="courses.html"><button>Courses</button></a>
    <a href="contact.html"><button>Contact</button></a>
    </div>

</header>

<body>

    <div class="container">
    <h1>Our Courses</h1>
    <p> Right now we offer the following courses:</p>
    <p>-Cooking for Beginners</p>
    <p>-Easy Dinner Meals</p>
    </div>

</body>
</html>
