<!DOCTYPE html>
<html>
  <head>
    <title>New Base</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/newbase.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">New Base</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/forum"> <span class="button">Forum</span> </a>
        <a href="/contact"> <span class="button">Contact</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/product.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Titel</h1>
        <h3> Text</h3>
        <ul>
          <li>Text</li>
          <li>Text</li>
          <li>Text</li>
        </ul>
        <a href="/contact">Contact Us</a> today!
      </div>
    </div>
  </body>
</html>