<div class="forum-container">
  <button
    class="button submit-btn collapsible"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >Neues Thema hinzufügen
  </button>
  <form class="forum-form" method="post">
    <div class="form-group">
      <label for="exampleFormControlInput1">Betreff</label>
      <input type="text" name="title" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mitteilung</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="description"
      ></textarea>
    </div>
    <button type="submit" class="button submit-btn theme-submit-btn">Submit</button>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Thema</th>
        <th scope="col">Description</th>
        <th scope="col">Erstellt am</th>
      </tr>
    </thead>
    <tbody>
      <% themes.forEach(t => { %>
      <tr>
        <td> <a href="<%= `/forum/${t._id}` %>"><span><%= t.title %></span></a></td>
        <td><%= t.description %></td>
        <td><%= t.entryDate.toLocaleString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>