<div class="container">
    <div class="col-sm-6">
      <img src="images/home-cat.png" alt="Home Cat">
    </div>
    <div class="col-sm-6">
      <h1>Willkommen!</h1>
      <p> Unter <a href="/forum">Forum</a> kannst du dir alle neuen Forumsbeiträge ansehen!</p>
      <p> Wenn du dich subscriben möchtest, klick auf <a href="/subscribers/new">Subscribe </a> um uns beizutreten!</p>
    </div>
  </div>
