<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>New Base</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/newbase.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">New Base</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/forum.html"> <span class="button">Forum</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/people.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1>Willkommen!</h1>
        <p>Schau doch gerne bei unserem Forum vorbei!</p>
        <p>
          Unter <a href="/forum.html">Forum</a> sind alle neuen Beiträge zu finden </p>
      </div>
    </div>
  </body>
</html>