<div class="forum-container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= theme.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= theme.entryDate.toLocaleString() %></h6>
          <p class="card-text"><%= theme.description %></p>
        </div>
      </div>
</div>