<div class="container">
    <div class="col-sm-6">
        <img src="images/contact-cat.png" alt="Contact Cat">
    </div>
    <div class="col-sm-6">
      <h1>Danke für Deine Anmeldung!</h1>
      <p> Gehe jetzt zu
        <a href="/">home!</a>
      </p>
    </div>
  </div>