body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
  font-size: 14pt;
}

#nav {
  display: flex;
  width: 100%;
  height: 110px;
  padding: 20px 0 5px 0;
  border-bottom: solid 8px #9AC0CD;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}

#title {
  color: #625a56;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #9AC0CD;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
}

.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 0% 10% 0% 0%;
}

.button {
  background-color: #9AC0CD;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #ADD8E6;
  color: #9AC0CD;
}

.submit-btn {
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
}

.submit-btn:focus {
  border: none;
  outline: none;
}

.forum-form {
  margin-top: 1rem;
  display: none;
}

.table {
  margin-top: 2rem;
}

.forum-container {
  padding-left: 5em;
  padding-right: 5em;
}

.impressum {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 1em;
}

.card-text {
  margin-top: 1em;
}

.flex-row-container {
  display: flex;
  align-items: center;
}
.flash {
  background: rgba(103, 120, 209, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 110px;
}

.error {
  background: rgba(209, 46, 42, 0.7);
}
