<a><span
  id="modal-button"
  data-toggle="modal"
  data-target="#myModal"
  class="button"
>
  Latest Themes
</span></a>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-body"></div>
    <div class="modal-footer">
      <a><span class="button" data-dismiss="modal">Close</span></a>
    </div>
  </div>
</div>
