<button id="modal-button" class="button" type="button" data-toggle="modal" data-target="#myModal">Latest Themes</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-body"></div>
    <div class="modal-footer">
      <button class="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
